
.containerAdiciona{
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0,.5);
        position: fixed;
        z-index: 20;
        top: 0px;
        left: 0px;
        display: flex;
        justify-content:center;
        align-items: center;
        .modal{
            background-color: #f0f0f0;
            width:60;
            min-height: 300px;
            padding: 40px;
            border: 10px solid #009EB5;
            box-shadow: 0 0 0 10px white;
            position: relative;
            .subtitulo{
                font-family: "Afacad Flux", sans-serif;
                font-size: 2em;
            }
            .formulario{
                padding:10px 10px;
                justify-content:center;
                align-items:center;
                .input{
                    display: block;
                    width: 100%;
                    height: 30px;
                    font-size: 1.2em;
                    text-align:center;
                    background-color:#9e9ca1;
                    border:none;
                    color: white;
                }
                .input::placeholder{
                    font-family: "Afacad Flux", sans-serif;
                    color: white;
                }
                .Nconta{
                    padding: 10px;
                    .cad{color:#009EB5;}
                    cursor:pointer;
                }
                .btAdd{
                    font-size: 1.2em;
                    text-decoration: none;
                    display: flex;
                    width: 60%;
                    height: 30px;
                    text-align:center;
                    justify-content:center;
                    align-items:center;
                    background-color:#9e9ca1;
                    border: none;
                    color: white;
                }
                .btAdd:hover{background-color:#009EB5;cursor: pointer;}
            }
        }
    }
    @media (width:1440px){
        .containerAdiciona{
            .modal{
                width: 60%;
                height: 40%;
                .subtitulo{
                    font-size: 3em;
                }
                .formulario{
                    height: 80%;
                    grid-row-gap:3em;
                    .input{height: 40px;font-size: 2em;}
                    .Nconta{font-size: 1.4em;}
                    .btAdd{
                        width: 40%;
                        height: 15%;
                        font-size: 2em;
                    }
                }
            }

        }
    }
    @media (min-width: 900px) and (max-width: 1024px){
        .containerAdiciona{
            .modal{
                width: 60%;
                height: 30%;
                .formulario{
                    height: 80%;
                    grid-row-gap:3em;
                    .input{height: 40px;font-size: 2em;}
                    .Nconta{font-size: 1.4em;}
                    .btAdd{
                        width: 40%;
                        height: 15%;
                        font-size: 2em;
                    }
                }
            }
        }
    }
    @media (min-width: 760px) and (max-width:880px){
        .containerAdiciona{
            .modal{
                width: 60%;
                height: 50%;
                .formulario{
                    height: 80%;
                    grid-row-gap:3em;
                    .input{height: 40px;font-size: 1.7em;}
                    .Nconta{font-size: 1.4em;}
                    .btAdd{
                        width: 40%;
                        height: 15%;
                        font-size: 1.7em;
                    }
                }
            }
        }

    }

